@media screen and (min-width: 1200px) {
    html {
      height: 140%;
    }
    header {
      display: block;
    }
    header img {
      width: 100%;
      height: 250px;
    }
    h2 {
      font-size: xx-large;
    }
    section {
      display: block;
    }
    section select {
      scale: .65;
      margin-bottom: 50px;
    }
    section textarea {
      scale: 2;
      margin-bottom: 20px;
    }
  }